<%- include('partials/header') %>

    <div class="form-body without-side">
        <div class="iofrm-layout">
            <div class="form-holder">
                <div class="form-content">
                    <div class="image-container">
                        <img src="/public/img/graphic13-1.svg" alt="">
                    </div>
                    <div class="form-items">
                        <img class="img-float" src="/public/img/graphic13-2.svg" alt="">
                        <div class="website-logo-inside logo-normal">
                            <a href="index.html">
                                <div class="logo">
                                    <img class="logo-size" src="/public/img/logo-light.svg" alt="">
                                </div>
                            </a>
                        </div>
                        <h3 class="font-md">Register new account</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <form action="/register" method="POST">
                            <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                            <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="form-button d-flex">
                                <button id="submit" type="submit" class="btn btn-primary">Register</button>
                                <a href="/login" class="btn btn-outline-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
